@model CladSmartTest.DataLayer.overtime

@{
    ViewBag.Title = "Create";
}

<h2>Overtime Detail</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="col-md-10">Name</label>
            <div class="col-md-10">
                @Html.DropDownList("employee_nik", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.employee.nik, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-10">Start Time</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.start_date_time, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.start_date_time, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-10">Finish Time</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.end_date_time, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.end_date_time, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
}

@if (ViewBag.Alert != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Alert");
            };

    </script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
