@model CladSmartTest.DataLayer.employee

@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to delete this?</h2>


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Department
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department.department_name)
        </dd>

        <dt>
            Position
        </dt>

        <dd>
            @Html.DisplayFor(model => model.position)
        </dd>

        <dt>
            BPJS
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bpjs_allowance)
        </dd>

        <dt>
            Meal
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meal_allowance)
        </dd>

        <dt>
            Laptop
        </dt>

        <dd>
            @Html.DisplayFor(model => model.laptop_allowance)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

@if (ViewBag.Alert != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Alert");
            };

    </script>

}
