@model IEnumerable<CladSmartTest.DataLayer.employee>

@{
    int count = 1;
}

<h2>LIST OF EMPLOYEE DATA</h2>

<p class="d-flex justify-content-end">
    @Html.ActionLink("Create New", "Create", new { area = "" }, new { @class = "btn btn-outline-primary " })
</p>
<table id="employeeTable" class="display table-bordered text-center">
    <thead>
        <tr class="text-center">
            <th class="text-center">
                No
            </th>
            <th class="text-center">
                NIK
            </th>
            <th class="text-center">
                Name
            </th>
            <th class="text-center">
                Department
            </th>
            <th class="text-center">
                Position
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @count
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.nik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.department.department_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.position)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.nik }, new { @class = "btn btn-outline-primary" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.nik }, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
            count++;
        }


    </tbody>

</table>


<link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.css" />

@if (ViewBag.Alert != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Alert");
            };

    </script>

}

@section scripts{
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#employeeTable').DataTable();
        });
    </script>
}
